html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ///////////////// */
/* Nav section */
/* ////////////////// */
.dots:after{
  content: '\2807';
  font-size: 60px;
  color: white;
  margin-left: 70%;
  /* border: 1px solid white; */
  padding: 2px; 
  cursor: pointer; 

}

.hr{
  margin-left: -50px;
}
.NavUl {
  list-style-type: none;
  margin: 0 auto;
  /* display: none; */
}
.NavUl a{
  text-decoration: none;
  color: white;
  
  /* border: 1px solid white; */
  padding: 4px 155px;
  margin: auto;
  margin-left: -40px;
}

.NavUl a:hover, .NavUl a:active {
  color: gold;
}

.NavUl li{
  margin: 8px auto 8px -17px;
  text-align: center;

}
/* .NavDiv:hover.NavUl{
  display: block;
} */
.NavDiv {
  background: rgb(118, 3, 39);
  padding: 1px 0;
}
.acornlogo{
  width: 70px;
  margin: 5px auto -70px -7px;
}
.acornlogo img{
  width: 100%;
}

@media only screen and (min-width: 500px){
  .acornlogo{
    width: 80px;
    margin: 0;
  }
  .dots:after{
    display: none;
  }
  .hr{
    display:none;
  }
  .NavUl a:hover{
    background: rgba(255, 255, 255, 0.274);
  }
  .NavUl{
    display: flex;
    justify-content: start !important;
  }
  .NavUl a{
    text-decoration: none;
    color: white;
    padding: 16px 21px 16px 21px;
    margin: auto;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
  .NavUl li{
    margin: 35px 0 8px 0;
  }
  .NavDiv{
    padding: 10px 0;
    /* display: flex; */
    /* justify-content: space-between; */
  }
  
}
@media only screen and (min-width: 500px) and (max-width: 650px){
  .bigusername {
    color: gold;
    float: right;
    margin: -55px 15px 8px 0;
  }
}
@media only screen and (min-width: 650px){
  .bigusername {
    color: gold;
    float: right;
    margin: -47px 20px 8px 0;
  }
}
/* ///////////////// */
/* Edit page */
/* //////////////// */
/* cropping */
canvas{
  width: 100%;
  margin: 0 auto;
}
.preview{
  margin: 10px auto;
  padding: 0.5% 5%;
  width: 80%;
  background: rgba(114, 100, 73, 0.42);

}
.editor{
  /* background: black; */
}
.cropimages {
  margin: 0 auto;
  /* background: white; */
}
.cropmain{
  width: 90%;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
@media only screen and (min-width: 900px){
  canvas{
    width: 90%;
    margin: 0 auto;
  }
  .preview{
    margin: 10px auto;
    padding: 10px 15px;
    width: 70%;
    background: #d0ff00;
  
  }
  .cropimages{
    display:flex;
    background: black;
  }
  .ReactCrop__image{
    width:90%;
    margin: 0 auto 15px auto;
  }
  .cropmain{
    width:90%;
    margin: 50px auto;
  }
  .preview{
    margin: 0 auto;
  }
  .cropmode{
    width: 90%;
    margin: 0 auto;
  }
}

/* Cloudinaryfurther edits */

.cloudPreviewImg{
  width: 90%;
  /* margin: 0 auto; */
}
.cloudPreview{
  width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  background: black;
  padding: 15px 0;
}
.editWrapper{
  width: 100%;
  background: rgba(128, 128, 128, 0.043);
  margin: 0 auto;
}
.editSection{
  /* border: 1px solid green; */
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.editSection button{
  margin-bottom: 5%;
}
.editImage{
  /* border: 1px solid pink; */
  margin: 5% auto;
}
.editText{
  margin-bottom: 10%;
}
.textCoordinates{
  margin-bottom: 10px;
}
@media only screen and (min-width: 500px){
  .cloudeditor{
    display: flex;
    /* border: 1px solid blue; */
  }
  .editImage{
    /* border: 1px solid pink; */
    margin: 10% auto;
  }
  .editWrapper{
    /* border: 1px solid purple; */
    width: 70%;
    background: rgba(128, 128, 128, 0.043);
    margin: 0 auto;
  }
  .editSection{
    /* border: 1px solid green; */
    width: 70%;
    margin: 20% auto;
    padding: 10px;
    background: white;
  }
  .cloudPreview{
    width: 70%;
    /* border: 1px solid red; */
    margin-right: 10px;
    background: black;
    padding: 15px 0;
  }
}
/* /////////////// */
/* Home */
/* /////////////// */
.homeimageWrap{
  margin: 20px auto 0 auto;
  /* padding: 20px auto; */
  /* background: gold; */
  max-width: 300px;
 
}
.editbutton{
  color: #2f00ff;
  background: white;
  border: 1px solid #2f00ff;
  margin: 5px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.homeimage{
  /* max-width: 300px; */
  width: 90%;
  margin: 10px 0;
}

@media only screen and (min-width: 360px){

  .homeimageWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 500px; */
    margin: 20px auto;
  }
}

@media only screen and (min-width: 500px){
  .homeimage{
    /* max-width: 50%; */
  }
  .homeimageWrap{
    max-width: 500px;
  }
}
.uploadForm button{
  border: 1px solid silver;
}
.uploader {
  margin-left: 60px;
  margin-bottom: 10px;
  /* background: red; */

}
.uploader input {
  color: rgb(108, 108, 108);
}


/* Register */
.registerForm button {
  border: 1px solid #034c76;
  background: #277603;
  color: white;
}
.registerForm input{
  border: 1px solid grey;
}
.login-container button {
  border: 1px solid #277603;
  background: #034c76;
  color: white;
}
.login-container input {
  border: 1px solid grey;
}

/* Gallery */
.gallery {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  /* flex-direction: row; */
}
.image{
  width: 200px;
  margin: 10px;
  background: rgba(128, 128, 128, 0.084);
  object-fit: contain;
  /* flex: 1; */
  /* display: inline-block; */
  /* display: table-cell; */
}
.image img{
  width: 100%;
  object-fit: contain;
  /* margin: auto; */
}

/* Individual photos */
.photoWrapper{
  background: black;
  padding-bottom: 100%;
}
.photoimage{
  width: 80%;
  margin: 15px auto;
}
.photoimage img{
  width: 100%;
}
.buttons{
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.buttons div button{
  margin: 0 20px;
  background: white;
  color: #277603;
  border: 2px solid #277603;
}

@media only screen and (min-width: 500px){
  .buttons button{
  margin: 0 50px;
  }
  .photoWrapper{
    background: black;
    padding-bottom: 100px;
  }
}