.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav section */

.NavUl {
  list-style-type: none;
  /* width: 50%; */
  display: flex;
  justify-content: start;
}
.NavUl a{
  text-decoration: none;
  color: white;
  /* border: 1px solid white; */
  padding: 24px 21px;
}
.NavUl a:hover{
  background: rgba(255, 255, 255, 0.274);
}

.NavDiv {
  background: rgb(118, 3, 39);
  padding: 10px 0;
}

/* Edit page */
/* cropping */
canvas{
  width: 100%;
  margin: 0 auto;
}
.preview{
  margin: 10px auto;
  padding: 0.5% 5%;
  width: 80%;
  background: rgba(114, 100, 73, 0.42);

}
.editor{
  /* background: black; */
}
.cropimages {
  margin: 0 auto;
  /* background: white; */
}
.cropimages .cropmain{
  width: 90%;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

/* further edits */
.cloudPreview{
  width: 90%;
  /* margin: 0 auto; */
}

/* Home */
.homeimage{
  max-width: 300px;
}

/* Gallery */
.gallery {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  /* flex-direction: row; */
}
.image{
  width: 200px;
  margin: 10px;
  background: rgba(128, 128, 128, 0.084);
  object-fit: contain;
  /* flex: 1; */
  /* display: inline-block; */
  /* display: table-cell; */
}
.image img{
  width: 100%;
  object-fit: contain;
  /* margin: auto; */
}